div{
    height:100px;
    width:auto;
    margin-left:20px;
    margin-right:20px;
}
img{
    padding:4px;
    height:40px;
}
#body{
    margin-top:40px;
    background-color:#597804;
    font-family:"Lucida Console",Courier, monospace;
    font-weight:bold;
}
#footer{
    height:40px;
    color:red;
}
.pic{
    padding:2px;
}
#cv{
    color:blue;
    font-family:"Arial";
}
